<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Inventory Bean -->
    <bean id="inventory" class="com.inventory.beans.Inventory">
        <constructor-arg value="Laptop"/>
        <constructor-arg value="10"/>
        <constructor-arg value="50000.0"/>
    </bean>

    <!-- Inventory Service Bean -->
    <bean id="inventoryService" class="com.inventory.service.InventoryService">
        <constructor-arg ref="inventory"/>
    </bean>

</beans>
